.navbar{
padding-left: 100px;
padding-right: 70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 120px;
  overflow:hidden;

  background-color: #333;
}

li {
  display: block;
  float: left;
  color:white;
  text-align: center;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px ;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.liAbout{
  background-color: #04AA6D;
  float: right;
  margin-right: 100px;
  
  }

img{
  height: 150px;
  width: 180px;
}
 
.carrito{
  height: 50px;
  width: 60px;
  position: fixed;
  margin-left: 20px;
  
}

.notifCarrito{
  margin-top: 32px;
  margin-left: 70px;
  position: fixed;
  
}

.saludo{
  color:black;
  margin-left: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

