.navbar{
padding-left: 100px;
padding-right: 70px;
}

.listaNavbar  { 
  list-style-type: none !important;
  margin: 0;
  padding-left: 120px;
  overflow:hidden;
  
  background-color: #333;
}


.botonBusqueda{
  margin-top:15px;
  margin-left: 70px;
  border: none;
  background-color: #333;
  font-size: 16px;
  color:white;}
  
li {
  display: block;
  float: left;
  color:white;
  text-align: center;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px ;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.liAbout{
  background-color:rgb(44, 150, 127);
  float: right;
  margin-right: 100px;
  
  }

img{
  height: 150px;
  width: 180px;
}
 
.carritoAnimacion{
  margin-top: 3px;
  height: 45px;
  width: 40px;
  position:fixed;
  margin-left: 20px;
  border-style:inset;
  border-color: rgb(248, 6, 6);
  border-radius: 50%;
  
}

.notifCarrito{
  margin-top: 32px;
  margin-left: 50px;
  position:fixed;
  border-radius: 20px;
  border-style:double;
  background-color: rgb(243, 4, 4);
  
}

@font-face {
  font-family: 'Tecno';
  src: url(../public/fuentes/TechnoLogic.ttf);
}
.saludo{
  font-family: 'Tecno'!important;
  font-size: 60px !important;
  color:rgb(17, 70, 58)!important;
  margin-bottom: -50px;
  margin-left: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

